[submodule "discord-rpc"]
	path = discord-rpc
	url = https://github.com/cgutman/discord-rpc.git
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	branch = release/8.0
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
	branch = openssl-3.5
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "Detours"]
	path = Detours
	url = https://github.com/microsoft/Detours.git
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = SDL2
[submodule "dav1d"]
	path = dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "libplacebo"]
	path = libplacebo
	url = https://code.videolan.org/videolan/libplacebo.git
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
